* {
}

.btn-upload {
  line-height: 1.5715;
  position: relative;
  display: inline-block;
  font-weight: 400;
  white-space: nowrap;
  border: 1px solid transparent;
  box-shadow: 0 2px 0 rgba(0, 0, 0, 0.015);
  cursor: pointer;
  transition: all 0.3s cubic-bezier(0.645, 0.045, 0.355, 1);
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  touch-action: manipulation;
  height: 32px;
  padding: 4px 15px;
  font-size: 14px;
  border-radius: 2px;
  color: rgba(0, 0, 0, 0.85);
  border-color: #d9d9d9;
  background: #fff;
}

.btn-upload:hover {
  background: rgb(77, 77, 77);
  color: #fff;
}

#file {
  display: none;
}

#file2 {
  display: none;
}
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 100;
  src: url(./assets/fonts/Roboto-Thin.woff2) format('woff2'), url(./assets/fonts/Roboto-Thin.woff) format('woff'),
    url(./assets/fonts/Roboto-Thin.otf) format('opentype');
}
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 300;
  src: url(./assets/fonts/Roboto-Light.woff2) format('woff2'), url(./assets/fonts/Roboto-Light.woff) format('woff'),
    url(./assets/fonts/Roboto-Light.otf) format('opentype');
}
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  src: url(./assets/fonts/Roboto-Regular.woff2) format('woff2'), url(./assets/fonts/Roboto-Regular.woff) format('woff'),
    url(./assets/fonts/Roboto-Regular.otf) format('opentype');
}
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 500;
  src: url(./assets/fonts/Roboto-Medium.woff2) format('woff2'), url(./assets/fonts/Roboto-Medium.woff) format('woff'),
    url(./assets/fonts/Roboto-Medium.otf) format('opentype');
}
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 700;
  src: url(./assets/fonts/Roboto-Bold.woff2) format('woff2'), url(./assets/fonts/Roboto-Bold.woff) format('woff'),
    url(./assets/fonts/Roboto-Bold.otf) format('opentype');
}
@font-face {
  font-family: 'Pretendard';
  src: url('https://cdn.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.woff') format('woff');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Pretendard';
  src: url('https://cdn.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Bold.woff') format('woff');
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: 'Avenir-Black';
  src: url('./assets/fonts/AvenirLTStd-Black.otf') format('otf');
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: 'Avenir-Roman';
  src: url('./assets/fonts/AvenirLTStd-Roman.otf') format('otf');
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: 'Avenir-Book';
  src: url('./assets/fonts/AvenirLTStd-Book.otf') format('otf');
  font-weight: 700;
  font-style: normal;
}

ul {
  margin: 0;
}
ul.dashed {
  list-style-type: none;
}
ul.dashed > li {
  text-indent: -5px;
}
ul.dashed > li:before {
  content: '-';
  text-indent: -5px;
}

p {
  scroll-behavior: smooth;
  text-align: justify;
  font-family: Pretendard;
}
